[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rtry"]
	path = rtry
	url = https://github.com/mpi-bgc-functional-biogeography/rtry
